name: Test VPS Connection

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Verify SSH Connection to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script_stop: true
          envs_format: true
          debug: true
          script: |
            echo "$VPS_KEY" | base64 -d > /tmp/vps_key.pem
            chmod 600 /tmp/vps_key.pem
            ssh -i /tmp/vps_key.pem -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "uptime && df -h | grep '/dev/'"
